.App {
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
  }

  main {
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .buttons {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
  }
