.board {
    padding: 10px;
    border-radius: 5px;
}

.board img {
    width: 200px;
    height: 300px;
}

.delete-and-view-buttons{
    color: white;
}

.board-container {
    display: flex;
    width:fit-content;
}
