.card-list {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.card-list img {
    width: 200px;
}

.upvote-delete {
    display: flex;
    justify-content:center;
    gap: 10px;
}
